.input-ui {
    background-color: transparent;
    border: none;
    caret-color: hsla(0, 0%, 100%, .8);
    color: #86ff4b;
    height: 100%;
    overflow-x: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%;
    padding: 10px;
}